/* Se quita margen por defecto y bloqueo del tamaña de las cajas */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Para que el container del body llene la pagina + body en flex + container grow 1 */
html, body  {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;    
    width: 21cm;
}

/* *** Header *** */

header {
    background-color: blue;
    padding: 10px;
    margin: 10px;    
    position: fixed;
    width: 21cm;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

#titulo {
    display: inline-block;    
}

/* *** Main *** */

.container {
    flex-grow: 1;
    margin: 180px 0px 10px 15px;
    display: flex;
    justify-content: space-between;
}

.menu {
    /* menu se activa en modo responsive */
    display: none;
}

aside {
    height: 100%;
    top: 5px;
    background-color: rgb(57, 57, 251);
    width: 30%;    
    padding: 5px; 
    text-align: center;
    border-radius: 5px;
    animation-name: aparece-aside;
    animation-duration: 2s;
}

.img-aside{
    /* imagen de aside aparece solo en responsive */
    display: none;
}

aside .sobre-mi, aside h4 {
    text-align: left;
    margin-bottom: 5px;
}

aside ul {
    padding: 0;
    list-style: none;
    text-align: left;
}

aside hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

main {
    width: 70%;
    border-radius: 5px;
    background-color: rgb(103, 103, 243);       
}

.tarjeta {
    margin: 10px;    
}


.tarjeta h5 {
    margin: 5px;
}

.tarjeta p {
    margin: 4px;
}

/* *** Footer *** */
footer {
    text-align: center ;
    margin-left: 10px;
    width: 21cm;
    padding: 5px;
    background-color: blue;    
}

/* *** Responsive *** */
/* Menor a 820px */
/* 1-Header
    poner ancho a 100%
    ocultar imagen perfil
    aparece menu hamburguesa
2-container
    ocultar aside - visto solo con menu hamburgusa
    main al 100%     
    */
    

    /* *** Responsive media Query*** */

@media screen and (max-width: 820px) {
    
    header,main, footer,body{
        width: 100%;
    }

    header img {
        display: none;
    }

    .menu {
        display: block;
        position: fixed;
        top: 40px;
        left: 10px;
    }

    body {
        align-items: center;
    }

    .container {
        margin: 90px 0px 10px 0px;
        width: 100%;
    }

    aside {
        display: none;
    } 
}

.menu:hover ~aside{
    display: block;
    width: 100%;
}

.menu:hover ~aside img{
    display: block;
    margin: 2px;
}


/* *** efectos *** */
/* Aparecer aside desde la izuierda */
@keyframes aparece-aside {
    0% {margin-left: -200px;}
    20% {
        background-color: rgb(138, 138, 229);}
    50% {}
    75% {
        background-color: rgb(125, 125, 234);}    
}