* {
    margin: 0;
    /* no afecta el ancho del paddin y de los border a los elementos */
    box-sizing: border-box;
    border-radius: 5px;

}

body {
    display: flex;
    flex-direction: column;   
    background-color: rgb(170, 120, 216); 
}

header {
    background-color: rgb(108, 60, 153);
    border: 1px solid red;
    padding: 5px;
        
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

#divHeader {
    background-color: blueviolet;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

html, body {
    height: 100%;
}


nav {
    display: inline;
    /* position: fixed; */
    /* top: 50; */
    right: 10px;
}


nav li {
    padding: 0;
    display: inline;

} 

header a{
    display: inline;
    margin: 4px;
    border-radius: 5px;
    background-color: orange;
    padding: 5px;
}

header a:hover {
    background: gray;
    color: white;
    border-radius: 3px;
    padding: 6px;
}

#divmain {
    display: flex; 
    flex-grow: 1;   
}

#left {
    border: 1px solid green;
    margin: 4px;
    background-color: rgb(97, 60, 132);
    padding: 5px;
}

#left ul{
    padding: 15px;
}

main {
    border: 1px solid blue;
    padding: 10px;                 
    margin: 5px;
    flex-grow: 1;
    background-color: rgb(120, 34, 201);
}

#divEnMain {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start; 

}

main img {
    float: left;
    margin: 5px;
    border-radius: 5px;
}

footer {
    /* width: 100%;
    position: fixed;
    bottom: 0; */
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}
