body {
    background-color: blue;
}

header {
    border-bottom: 1px solid black;
}

ul {
    list-style: none;
}

nav 
{
display: flex;
justify-content: right;
}

nav>ul{
    display: flex;
    align-items: flex-start;
}

ul li ul{
    padding: 0;
    margin: 0;
}

li {
    background-color: aquamarine;
    border: 1px solid black;
    display: inline-block;
    border-radius: 5px;
    padding: 2px;
    margin: 0px;
    width: 100px;
}

.subitem1 {
    /* display: inline-block; */    
    align-self: flex-start;
}

.subitem2 {
    display: none;
    margin-top: 2px;
    margin-left: 10px;    
}

.subitem3 {
    display: none;
    margin-left: 50px;
}


li:hover {
    background-color: rgb(23, 65, 65);
     
}

li:hover >ul>li {
    display: block;
}



