* {
    margin: 0;
    box-sizing: border-box;
}

/* footer abajo */
html body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/* footer abajo */

body {
    font-family: Arial, sans-serif;
    color: #474747;
}

/* **************** */
/* estilos generales */
/* **************** */


li {
    display: inline;
}

ul {
    padding: 0;
}

a {
    text-decoration: none; 
    color: #474747; 
    margin: 10px;
}

a:hover {
    text-decoration: underline;
}


/* **************** */
/* Cabecera */
/* **************** */

header {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;    
}

header nav:first-child {
    font-size: 14px;
}

header nav:last-child {
    font-size: 13px;    
}

header nav:last-child li {
    vertical-align: middle;
}

header button {
    cursor: pointer;
    background-color: #1a73e8;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    padding: 9px 23px;
}

header button:hover {
    box-shadow: 1px 1px red;
}

/* Apps */


/* **************** */
/* Main */
/* **************** */
main {
 border: 1px solid green;
}

main > div {
    width: 500px;    
    margin: 50px auto;
    text-align: center;
}

main img {
    width: 250px;
}

.buscador {
    border: 1px solid ;
    border-radius: 20px;
    width: 584px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 300px;
    outline: 0;
    border: 0;
}

.buscador:hover {
    box-shadow: ;
}

.buscador-nav-1 {
    margin: 20px 0;
}

.buscador-nav-1 button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    margin: ;
    padding: 0px 1px;
    cursor: pointer;
}

.buscador-nav-1 button:hover {
    box-shadow: ;
}

.buscador-nav-2 a {
    color: blue;
    margin: 4px;
}

/* **************** */
    /* Footer */
/* **************** */

footer {
    background-color: #f2f2f2;

}

.footer-top {
    padding: 10px 20px;
}

.footer-bottom {
    padding: 10px 20px;

}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-bottom img {
    width: 15px;
    height: 15px;
}