
/* *** hacer que el main se estire toda la pagina *** */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* *** header *** */

header {
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    
}

h1 {
    text-align: center;
}

ul {
    display: flex;
    list-style: none;
    margin-top: 0;
    padding: 0;
}

ul li {
    padding: 2px;
}

a {
    text-decoration: none;
    padding: 2px;
    color: white;
}

.div_flex {
    display: flex;
    justify-content: space-between;
}

/* *** Main *** */

main {
    padding-top: 180px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

main div {
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
    /* display: block; */
    /* height: 250px;      */
}

img {
    border-radius: 10%;
    margin: 2px;    
}

p {
    /* display: inline; */
    padding: 10px;
}

#left {
    float: left;
}

#right {
    float: right;
}

nav {
    padding: 2px;
    margin-right: 20px;
}

/* *** Footer *** */

footer {
    text-align: center;
}

/* No se muestra la lista en modo normal */
.menu {
    display: none;    
}

#h1_responsive {
    display: none;
}


/* *** Responsive media Query*** */

@media screen and (max-width: 390px) {
    .menu {
        display: block;
        text-align: center;
    }
    nav {
        display: none        
    }
    .caja img{
        width: 100%;
        display: block;
        float: none;
    }
    .caja p {
        display: block;
        width: 100%;
    }
    #h1_responsive {
        display: block;
    }

    #h1_normal {
        display: none;
    }
}

/* *** Se muestra menu con hover *** */

.menu:hover ~.div_flex {
    display: flex;
    flex-direction: column;
}

.menu:hover ~.div_flex nav {
    display: flex;
    flex-direction: column;
}

.menu:hover ~.div_flex nav ul {
    display: flex;
    flex-direction: column;
}
