.container {
    display: flex;    
}

header {
    text-align: center;
}

div {
    margin: 5px;
}

.tarjeta {
    width: 300px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja {
    width: 100px;
    height: 100px;
}

.boton {
    height: 50px;
    width: 100px;
    text-align: center;
    background-color: aqua;
    border: 1px solid black;
    display: inline-block;
}

.traslate:hover ~.tarjeta .caja{
    transform: translate(10px, 10px);
}

.scale:hover ~.tarjeta .caja{
    transform: scale(2,3)
}

.scaleX:hover ~.tarjeta .caja{
    transform: scaleX(2)
}

.rotate:hover ~.tarjeta .caja{
    transform: rotate(20deg);
}

.rotate3d:hover ~.tarjeta .caja {
    transform: rotate3d(0,1,0,20deg);
}
