@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Luckiest+Guy&display=swap')


body {
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

header {
    border: 1px black solid;

}

.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

main {
    flex-grow: 1;
    border: 1px black solid;
}

main p {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.fa-globe{
    color: red;
    font-size: 20rem;
}

.bi-whatsapp{
    font-size: 5rem;
    background-color: aqua;
}


footer {
    border: 1px black solid;

}