* {
    margin: 0;
    box-sizing: border-box;
}

li {
    display: inline;
}

/* ***header-top *** */
.header-top {    
    display: flex;
    /* justify-content: flex-end;     */
    font-size: 12px;
    height: 36px;
}

.header-top nav {
    display: flex;   
    justify-content: flex-start; 
    align-items: center;
    background-color: #0d6a21;
    padding: 0px 16px;    
}

.header-top nav ul {
    margin-bottom: 0px;
}

.header-top nav a {
    color: rgba(255, 255, 255, .75);
    
    
}

select {
    width: 50px;
    background-color: #737277;
    color: white;
    font-weight: 500;
    margin-top: 0px;
    border: none;
}

/* *** header-bottom *** */
.header-bottom .container {
    display: flex;
    justify-content: space-around;
}

.header-bottom a {
    color: rgba(0, 0, 0, 0.5);
}

.header-bottom img {
    width: 100px;
    height: auto;
}