/* selector universal o reset*/
* {
    margin: 0;
    /* no afecta el ancho del paddin y de los border a los elementos */
    box-sizing: border-box;
}

body  {
}

img {
    background-color: gray;
    position: relative;
    margin: 10px 10px;
    border-radius: 10%;
}

header {
    position: relative;    
    border: 1px red solid;
    background-color: chartreuse;
    
}

nav {
    position: absolute;
    right: 30px;   
    top: 60px; 
    border: 2px green solid;
    background-color: rgb(4, 177, 4);
    padding: 5px;
}

.link:hover {
    background-color: rgb(1, 57, 1);
    color:white;
    border-radius: 20%;
}

.link {
    margin: 2px;
    padding: 5px;
}