/* selector universal o reset*/
* {
    margin: 0;
    /* no afecta el ancho del paddin y de los border a los elementos */
    box-sizing: border-box;
}

#titulo {
    background-color: gray;
    position: relative;
    border-radius: 10%; 
    width: 100px;
}

header {
     
      
    border: 1px red solid;
    background-color: chartreuse;
    padding: 10px;
    
}

nav {
    /* Le quita que ocupe todo el bloque  y */
    /* le hace perder su dimension!!! */
        /* display: inline; */

    /* Asi no pierde sus dimensiones */
        display: inline-block;
    background-color: rgb(4, 177, 4);
    
    position: fixed;
    right: 10px ;
    top: 50px;
    border: 2px green solid;
    padding: 5px;
}

.link {
    margin: 2px;
    padding: 2px;
}

.link:hover {
    background-color: rgb(1, 57, 1);
    color:white;
    border-radius: 20%;
}

#titulo:hover {
    background-color: rgb(92, 92, 92);
}

main {
    background-color: gray;
    padding: 5px;
}

img {
    border-radius: 10%; 
    width: 100px;
    height: 100px;
}
